DATABASE_PRISMA_URL="postgresql://login:password@localhost:5432/meingym?schema=public"
DATABASE_URL_NON_POOLING="postgresql://login:password@localhost:5432/meingym?schema=public"

GITHUB_APP_ID=
GITHUB_SECRET=

NEXTAUTH_URL=
NEXTAUTH_SECRET=

NEXT_TELEMETRY_DISABLED=1

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

REDIS_HOST=
REDIS_PORT=
