.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.capitalize-first-letter {
    text-transform: lowercase; /* Convert the whole text to lowercase */
}

.capitalize-first-letter::first-letter {
    text-transform: uppercase; /* Only uppercase the first letter */
}

.rdp {
    margin: 0 !important;
}
.rdp-months {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.rdp-month {
    margin: 0 !important;
}